/* CustomCarousel.css */

.carousel-item {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  font-family: "Mona-Sans Regular";
}

.custom-arrow {
  font-family: "Mona-Sans Bold";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  z-index: 1;
  color: white; /* Set the default color for the arrows */
}

.custom-prev-arrow {
  left: -15px;
}

.custom-next-arrow {
  right: -15px;
}

/* Custom color for the arrows */
.custom-arrow:hover {
  color: #ff0000; /* Change the color on hover */
  background-color: #555; /* Change the background color on hover */
}
