@import "../fonts/mona-sans-font/fonts.css";

.home-maincontainer {
}

.home-leftside-main,
.home-rightside-main {
  flex: 1;
}

.home-landing-page {
  display: flex;

  justify-content: space-evenly;
}

.home-leftside-main {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title-text-container {
  font-size: 4.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 0;
}
.title-text {
  font-family: "Mona-Sans Bold";

  padding-left: 0.5em;
  letter-spacing: 0.1em;
}

.home-paragraph-text-con {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.home-paragraph-text {
  font-family: "Mona-Sans Light";
  text-align: justify;
  color: black;
  line-height: 1.5em;
}
.button-check-specs-con {
  padding: 3em;
  display: inline;
}

.button-check-specs-con:hover {
  cursor: pointer;
}

.button-check-specs-text {
  display: flex;
  gap: 0.5em;
  width: 15.5em;
  color: white;
  padding: 1em;
  border-radius: 5px;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  font-family: "Mona-Sans SemiBold";
  background-color: black;
}

.home-rightside-main {
  height: 85vh;
  overflow: hidden;
}

.home-right-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-latest-phone {
  height: 20em;
  border: 1px solid black;
}

.home-latest-text {
  font-family: "Mona-Sans Bold";
  font-size: 1.4rem;
  margin-top: 1em;
  margin-left: 1em;
}

.slider-container {
  position: relative;
}

li {
  list-style-type: none;
}

.slider-items {
  display: flex;
  column-gap: 1em;
}

.slider-items li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
}

.prev-button {
  position: absolute;
  left: 0;
}

.next-button {
  position: absolute;
  right: 0;
}
